
body {
    min-width:800px;
    width:100%;
    justify-content:center;
    text-align:center;
    position:absolute;
    top:38%;
        left:65px;
    margin:-25px 0 0 -25px;
    align-items:center;
    overflow:hidden;
    transform: translate(-50px,-50px);
}

.clock {
   
    color: white;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}
